@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins";
}

.container {
  width: 85%;
  margin: 0 auto;
}

.row {
  display: flex;
}

a {
  color: #000;
}
