@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins";
}

.container {
  width: 85%;
  margin: 0 auto;
}

.row {
  display: flex;
}

a {
  color: #000;
}

.active {
  display: block !important;
}

.activeFlex {
  display: flex !important;
}

.open {
  visibility: visible !important;
  opacity: 1 !important;
  height: auto !important;
}

.layout {
  width: 100%;
}

.titleSection {
  text-align: center;
}
.titleSection h3 {
  font-size: 36px;
}
.titleSection p {
  color: #9f9f9f;
}

.path a {
  text-transform: capitalize;
  position: relative;
}
.path a::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  transition: transform 0.4s ease-in-out;
  transform-origin: right;
}
.path a:hover::after {
  transform: scaleX(0);
  transform-origin: left;
}

input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.header {
  background: #fff;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.home .header {
  background-color: #fbebb5;
}
.header .container .row {
  height: 100px;
  align-items: center;
}
.header .container .row .hamburger {
  display: none;
  background: none;
  border: none;
  position: relative;
  z-index: 99;
  cursor: pointer;
}
.header .container .row .hamburger span:nth-child(1),
.header .container .row .hamburger span:nth-child(2),
.header .container .row .hamburger span:nth-child(3) {
  width: 28px;
  height: 3px;
  border-radius: 15px;
  background-color: #000;
  position: absolute;
  left: 0;
  transition: all 0.3s ease;
}
.header .container .row .hamburger span:nth-child(1) {
  top: -8px;
}
.header .container .row .hamburger span:nth-child(3) {
  top: 8px;
}
.header .container .row .opened span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.header .container .row .opened span:nth-child(2) {
  transform: translateX(-100px);
}
.header .container .row .opened span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
.header .container .row .navBar {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.header .container .row .navBar .navList {
  display: flex;
  gap: 50px;
  width: 65%;
  justify-content: center;
}
.header .container .row .navBar .userAreaList {
  display: flex;
  gap: 35px;
  align-items: center;
  justify-content: center;
}
.header .container .row .navBar .userAreaList .userAreaItem {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 28px;
  transition: 0.5s ease;
}
.header .container .row .navBar .userAreaList .userAreaItem img {
  max-width: 100%;
  display: flex;
  align-items: center;
  transition: 0.5s ease;
}
.header .container .row .navBar .userAreaList .userAreaItem #closeIcon {
  display: none;
  font-size: 23px;
  font-weight: 400;
  transition: 0.5s ease;
}
.header .container .row .navBar .searchBox {
  display: none;
  position: absolute;
  bottom: -45px;
  right: 7.6%;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  width: 40%;
  padding: 12px;
  box-shadow: rgba(122, 122, 122, 0.7490196078) 1px 1px 2px 0px;
  transition: 0.5s ease-in-out;
  z-index: 9;
  border-radius: 2px;
}
.header .container .row .navBar .searchBox img {
  width: 20px;
}
.header .container .row .navBar .searchBox input {
  outline: none;
  border: none;
  background: transparent;
  width: 100%;
  margin-left: 10px;
}

@media (max-width: 850px) {
  .header .container .row .navBar {
    justify-content: space-between;
  }
  .header .container .row .navBar .navList {
    justify-content: flex-start;
    gap: 25px;
  }
  .header .container .row .navBar .userAreaList {
    gap: 25px;
  }
  .header .container .row .navBar .userAreaList .userAreaItem img {
    width: 24px;
  }
  .header .container .row .navBar .userAreaList .userAreaItem #closeIcon {
    font-size: 20px;
  }
}
@media (max-width: 650px) {
  .header .container {
    width: 90%;
  }
  .header .container .row {
    height: 60px;
    justify-content: space-between;
  }
  .header .container .row .hamburger {
    display: block;
  }
  .header .container .row .navBar {
    position: absolute;
    top: 0;
    left: -100%;
    padding-top: 120px;
    background: #fbebb5;
    flex-direction: column-reverse;
    gap: 15px;
    width: 250px;
    height: 100vh;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    transition: left 0.5s ease-in-out;
    z-index: 9;
    justify-content: flex-end;
  }
  .header .container .row .navBar .navList {
    flex-direction: column;
    gap: 12px;
  }
  .header .container .row .navBar .navList .navItem {
    padding-left: 15px;
  }
  .header .container .row .navBar .userAreaList {
    justify-content: center;
  }
  .header .container .row .navBar .userAreaList #searchBtn {
    display: none;
  }
  .header .container .row .navBar .searchBox {
    display: flex;
    bottom: inherit;
    right: inherit;
    top: 60px;
    left: 0;
    width: 100%;
    box-shadow: 0 0 0 0;
    padding: 10px 20px;
    border: none;
  }
  .header .container .row .open {
    left: 0;
  }
}
.footer .footerTop {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}
.footer .footerTop .address {
  width: 25%;
  display: flex;
  align-items: center;
}
.footer .footerTop .address a {
  color: #9f9f9f;
}
.footer .footerTop h3 {
  color: #9f9f9f;
  font-weight: 500;
  margin-bottom: 40px;
}
.footer .footerTop .links .linkList {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer .footerTop .help .helpList {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer .footerTop .newsletter {
  width: 30%;
}
.footer .footerTop .newsletter .newsletterForm {
  display: flex;
  gap: 15px;
}
.footer .footerTop .newsletter .newsletterForm input {
  border: none;
  outline: none;
  padding: 3px 0;
  width: 200px;
  border-bottom: 1px solid #000;
}
.footer .footerTop .newsletter .newsletterForm input::-moz-placeholder {
  color: #9f9f9f;
}
.footer .footerTop .newsletter .newsletterForm input::placeholder {
  color: #9f9f9f;
}
.footer .footerTop .newsletter .newsletterForm button {
  border: none;
  background-color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  width: 75px;
  cursor: pointer;
  position: relative;
}
.footer .footerTop .newsletter .newsletterForm button::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  transition: transform 0.4s ease-in-out;
  transform-origin: right;
}
.footer .footerTop .newsletter .newsletterForm button:hover::after {
  transform: scaleX(0);
  transform-origin: left;
}
.footer .footerTop .newsletter .newsletterForm button::after {
  height: 1px;
  bottom: 0;
  width: 100%;
}
.footer .footerBottom {
  border-top: 1px solid #d9d9d9;
  padding: 40px 0;
}

@media (max-width: 800px) {
  .footer .footerTop h3 {
    margin-bottom: 15px;
  }
  .footer .footerTop .links .linkList {
    gap: 5px;
  }
  .footer .footerTop .help .helpList {
    gap: 5px;
  }
  .footer .footerTop .newsletter .newsletterForm {
    flex-direction: column;
  }
}
@media (max-width: 700px) {
  .footer {
    font-size: 13px;
    text-align: center;
  }
  .footer .footerTop {
    padding: 20px 0;
    display: grid;
    grid-template-areas: "address address" "links help" "newsletter newsletter";
    justify-content: center;
  }
  .footer .footerTop .address {
    width: 100%;
    display: flex;
    justify-content: center;
    grid-area: address;
  }
  .footer .footerTop h3 {
    margin-bottom: 5px;
  }
  .footer .footerTop .links {
    margin-top: 15px;
    grid-area: links;
  }
  .footer .footerTop .links .linkList {
    gap: 2px;
  }
  .footer .footerTop .help {
    margin-top: 15px;
    grid-area: help;
  }
  .footer .footerTop .help .helpList {
    gap: 2px;
  }
  .footer .footerTop .newsletter {
    margin-top: 15px;
    grid-area: newsletter;
    width: 100%;
  }
  .footer .footerTop .newsletter .newsletterForm {
    flex-direction: column;
    align-items: center;
  }
  .footer .footerTop .newsletter .newsletterForm input {
    width: 250px;
    text-align: center;
  }
  .footer .footerBottom {
    padding: 10px 0;
  }
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card .cardImg {
  width: 287px;
  height: 287px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card .cardImg img {
  max-width: 100%;
  width: 100%;
}
.card .details .price {
  font-size: 20px;
  font-weight: 600;
}

.hero {
  background: #fbebb5;
  width: 100%;
}
.hero .row {
  align-items: center;
  height: 100vh;
  justify-content: center;
}
.hero .row .heroContent {
  max-width: 45%;
  padding-left: 90px;
}
.hero .row .heroContent h2 {
  font-size: 64px;
  font-weight: 500;
}
.hero .row .heroContent a {
  font-size: 24px;
  position: relative;
}
.hero .row .heroContent a::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  transition: transform 0.4s ease-in-out;
  transform-origin: right;
}
.hero .row .heroContent a:hover::after {
  transform: scaleX(0);
  transform-origin: left;
}
.hero .row .heroImg {
  max-width: 70%;
}
.hero .row .heroImg img {
  max-width: 100%;
  height: auto;
  display: block;
}

.categories {
  background: #faf4f4;
  padding: 50px 0;
}
.categories .row {
  justify-content: center;
  gap: 50px;
}
.categories .row .singleItem .catImg {
  height: 300px;
  width: 500px;
}
.categories .row .singleItem .catImg img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}
.categories .row .singleItem .details {
  padding-left: 40px;
}
.categories .row .singleItem .details h3 {
  font-size: 36px;
  font-weight: 600;
}
.categories .row .singleItem .details a {
  font-weight: 500;
  font-size: 24px;
  position: relative;
}
.categories .row .singleItem .details a::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  transition: transform 0.4s ease-in-out;
  transform-origin: right;
}
.categories .row .singleItem .details a:hover::after {
  transform: scaleX(0);
  transform-origin: left;
}

.topPicks .row {
  flex-direction: column;
  align-items: center;
  margin: 40px 0;
}
.topPicks .row .content {
  width: 100%;
  height: 100%;
  margin: 40px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
}

.arrivals {
  background: #fff9e5;
}
.arrivals .row .arrivalImg {
  width: 60%;
}
.arrivals .row .arrivalImg img {
  max-width: 100%;
}
.arrivals .row .details {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.arrivals .row .details span {
  font-size: 24px;
  font-weight: 500;
  text-transform: capitalize;
}
.arrivals .row .details h3 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 30px;
}
.arrivals .row .details a {
  text-transform: capitalize;
  border: 1px solid #000;
  font-family: Poppins;
  font-size: 20px;
  width: 255px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog {
  text-align: center;
  margin: 40px 0;
}
.blog .row {
  flex-direction: column;
}
.blog .row .content {
  display: flex;
  justify-content: center;
  margin: 40px 0;
  gap: 27px;
}
.blog .row .content .card {
  text-align: center;
}
.blog .row .content .card .cardImg img {
  width: 360px;
  height: 360px;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog .row .content .card p {
  font-size: 18px;
}
.blog .row .content .card a {
  font-weight: 600;
  text-transform: capitalize;
  position: relative;
}
.blog .row .content .card a::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  transition: transform 0.4s ease-in-out;
  transform-origin: right;
}
.blog .row .content .card a:hover::after {
  transform: scaleX(0);
  transform-origin: left;
}
.blog .row .content .card a::after {
  bottom: -6px;
}
.blog .row .content .card .date {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 12px;
}
.blog .row .content .card .date img {
  width: 18px;
}
.blog .row .content .card .date .passedTime {
  display: flex;
  align-items: center;
  gap: 5px;
}
.blog .row .content .card .date .publishDate {
  display: flex;
  align-items: center;
  gap: 5px;
}

.social {
  position: relative;
  width: 100%;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social .bgImg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.social .row {
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-self: flex-end;
  height: 100%;
}
.social .row .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.social .row .content h3 {
  font-size: 60px;
  font-weight: 700 !important;
}
.social .row .content p {
  font-size: 20px;
  margin-bottom: 30px;
}
.social .row .content a {
  background: #faf4f4;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.1019607843);
  text-transform: capitalize;
  padding: 10px 0;
  width: 200px;
  margin: 0 auto;
  border-radius: 22px;
  transition: transform 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.social .row .content a:hover {
  transform: scale(1.1);
}

@media (max-width: 1304px) {
  .hero .row .heroContent {
    padding-left: 70px;
    width: 70%;
    max-width: 50%;
  }
  .hero .row .heroContent h2 {
    font-size: 45px;
  }
  .hero .row .heroContent a {
    font-size: 22px;
  }
  .hero .row .heroImg {
    width: 65%;
  }
  .categories .row {
    justify-content: center;
  }
  .categories .row .singleItem .catImg {
    height: 250px;
    width: 400px;
  }
  .categories .row .singleItem .details {
    padding-left: 20px;
  }
  .categories .row .singleItem .details h3 {
    font-size: 30px;
  }
  .categories .row .singleItem .details a {
    font-size: 20px;
  }
  .blog .content {
    flex-wrap: wrap;
  }
}
@media (max-width: 1200px) {
  .topPicks .row .content {
    grid-template-columns: repeat(2, 1fr);
  }
  .social {
    height: 400px;
  }
}
@media (max-width: 980px) {
  .categories .row {
    gap: 0;
  }
  .arrivals .row .details span {
    font-size: 20px;
  }
  .arrivals .row .details h3 {
    font-size: 36px;
  }
  .arrivals .row .details a {
    font-size: 18px;
    width: 200px;
    height: 50px;
  }
  .social {
    height: 300px;
  }
  .social .row .content h3 {
    font-size: 50px;
  }
  .social .row .content p {
    font-size: 18px;
  }
  .social .row .content a {
    width: 180px;
  }
}
@media (max-width: 878px) {
  .blog .content .card {
    width: 100% !important;
  }
  .blog .content .card .cardImg img {
    width: 100% !important;
    height: auto !important;
  }
}
@media (max-width: 841px) {
  .hero .row {
    height: 75vh;
  }
  .hero .row .heroContent {
    padding-left: 50px;
    width: 85%;
  }
  .hero .row .heroContent h2 {
    font-size: 40px;
  }
  .hero .row .heroImg {
    width: 45%;
  }
  .categories .row .singleItem .catImg {
    height: 200px;
    width: 300px;
  }
  .categories .row .singleItem .details {
    padding-left: 5px;
  }
  .categories .row .singleItem .details h3 {
    font-size: 28px;
  }
  .categories .row .singleItem .details a {
    font-size: 18px;
  }
  .social {
    height: 250px;
  }
  .social .row .content h3 {
    font-size: 40px;
  }
  .social .row .content p {
    font-size: 16px;
  }
  .social .row .content a {
    width: 160px;
  }
}
@media (max-width: 768px) {
  .hero .row {
    height: 65vh;
  }
  .hero .row .heroContent {
    padding-left: 50px;
    width: 65%;
  }
  .hero .row .heroContent h2 {
    font-size: 30px;
  }
  .hero .row .heroContent a {
    font-size: 20px;
  }
  .hero .row .heroImg {
    max-width: 50%;
  }
  .categories .row .singleItem .catImg {
    height: 200px;
    width: 250px;
  }
  .categories .row .singleItem .details h3 {
    font-size: 25px;
  }
  .categories .row .singleItem .details a {
    font-size: 16px;
  }
  .arrivals .row .arrivalImg {
    width: 50%;
  }
  .arrivals .row .details {
    width: 50%;
  }
  .arrivals .row .details span {
    font-size: 18px;
  }
  .arrivals .row .details h3 {
    font-size: 30px;
    margin-bottom: 15px;
  }
  .arrivals .row .details a {
    font-size: 16px;
    width: 130px;
    height: 40px;
  }
  .topPicks .row .content {
    grid-template-columns: repeat(1, 1fr);
  }
  .social {
    height: 180px;
  }
  .social .row .content h3 {
    font-size: 25px;
  }
  .social .row .content p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .social .row .content a {
    width: 120px;
    font-size: 14px;
  }
}
@media (max-width: 535px) {
  .categories .row {
    flex-wrap: wrap;
  }
  .categories .row .singleItem .catImg {
    height: 250px;
    width: 400px;
  }
  .arrivals .row {
    flex-direction: column;
  }
  .arrivals .row .arrivalImg {
    width: 100%;
  }
  .arrivals .row .details {
    width: 100%;
    margin-bottom: 20px;
  }
  .social {
    height: 140px;
  }
  .social .row .content h3 {
    font-size: 22px;
  }
  .social .row .content p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .social .row .content a {
    width: 120px;
    padding: 5px 0;
  }
  .titleSection h3 {
    font-size: 25px;
  }
  .titleSection p {
    font-size: 13px;
  }
}
@media (max-width: 425px) {
  .hero .row {
    height: 35vh;
  }
  .hero .row .heroContent {
    padding-left: 10px;
  }
  .hero .row .heroContent h2 {
    font-size: 14px;
  }
  .hero .row .heroContent a {
    font-size: 10px;
  }
  .hero .row .heroContent a::after {
    bottom: -3px;
    height: 1px;
  }
  .hero .row .heroImg {
    max-width: 50%;
    height: 100%;
  }
  .categories .row .singleItem .catImg {
    height: 200px;
    width: 300px;
  }
  .categories .row .singleItem .details h3 {
    font-size: 20px;
  }
  .categories .row .singleItem .details a {
    font-size: 13px;
  }
  .categories .row .singleItem .details a::after {
    height: 1px;
    bottom: -2px;
  }
  .social {
    height: 120px;
  }
}
@media (max-width: 320px) {
  .categories .row .singleItem .catImg {
    height: 150px;
    width: 250px;
  }
  .arrivals .row .details span {
    font-size: 14px;
  }
  .arrivals .row .details h3 {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .arrivals .row .details a {
    font-size: 14px;
    width: 110px;
    height: 35px;
  }
  .social {
    height: 100px;
  }
  .social .row .content h3 {
    font-size: 18px;
  }
  .social .row .content p {
    font-size: 12px;
    margin-bottom: 8px;
  }
  .social .row .content a {
    width: 100px;
    font-size: 12px;
  }
}
.heroBreadcrumb {
  background-image: url(../img/ff74c027a1888544144abe4be6e02cbf.jpg);
  height: 316px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.heroBreadcrumb::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
.heroBreadcrumb .row {
  height: 100%;
  align-items: center;
  justify-content: center;
}
.heroBreadcrumb .row .content {
  z-index: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.heroBreadcrumb .row .content .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.heroBreadcrumb .row .content .logo img {
  max-width: 100%;
  width: 77px;
  height: 77px;
}
.heroBreadcrumb .row .content h2 {
  font-size: 48px;
  font-weight: 500;
}
.heroBreadcrumb .row .content p {
  font-weight: 300;
  display: flex;
  gap: 8px;
  align-items: center;
}

.filter {
  background: #faf4f4;
  margin: 40px 0;
  height: 100px;
  align-items: center;
  display: flex;
}
.filter .row {
  justify-content: space-between;
}
.filter .row .left {
  align-items: center;
  display: flex;
  gap: 40px;
}
.filter .row .left .filterView {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}
.filter .row .left .filterView .title {
  display: flex;
  align-items: center;
  gap: 10px;
}
.filter .row .left .filterView img {
  max-width: 100%;
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.filter .row .left .filterView span {
  font-size: 20px;
}
.filter .row .left .filterView::after {
  content: "";
  position: absolute;
  right: -20px;
  top: -3px;
  background: #9f9f9f;
  height: 37px;
  width: 2px;
}
.filter .row .right {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 18px;
}
.filter .row .right .show {
  display: flex;
  align-items: center;
  gap: 10px;
}
.filter .row .right .show input {
  border: none;
  outline: none;
  width: 55px;
  height: 55px;
  text-align: center;
  color: #9f9f9f;
  font-size: 18px;
}
.filter .row .right .shortBy {
  display: flex;
  gap: 10px;
  align-items: center;
  position: relative;
}
.filter .row .right .shortBy #shortBy {
  height: 50px;
  width: 188px;
  background: #fff;
  align-items: center;
  display: flex;
  padding-left: 10px;
  color: #9f9f9f;
  cursor: pointer;
}
.filter .row .right .shortBy .shortByDropdown {
  visibility: hidden;
  opacity: 0;
  height: 0;
  position: absolute;
  background: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  right: 0;
  top: 50px;
  width: 188px;
  z-index: 1;
  transition: 0.2s ease-in-out;
}
.filter .row .right .shortBy .shortByDropdown .dropdownList .dropdownItem {
  cursor: pointer;
  padding: 5px 10px;
}
.filter .row .right .shortBy .shortByDropdown .dropdownList .dropdownItem:hover {
  background: #fbebb5;
}

.products .row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.products .row .content {
  display: grid;
  gap: 0;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.products .row .pagination {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin: 70px 0;
  cursor: pointer;
}
.products .row .pagination span {
  width: 50px;
  height: 50px;
  background: #fff9e5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.products .row .pagination span:first-child {
  background: #fbebb5;
}
.products .row .pagination span:last-child {
  width: 90px;
}

.banner {
  background: #faf4f4;
  height: 300px;
  align-items: center;
  display: flex;
}
.banner .row {
  gap: 38px;
  justify-content: space-between;
}
.banner .row .details h3 {
  font-size: 30px;
  font-weight: 500;
}
.banner .row .details p {
  font-size: 18px;
  color: #9f9f9f;
}

@media (max-width: 1024px) {
  .filter {
    height: 75px;
  }
  .filter .row .left {
    gap: 20px;
  }
  .filter .row .left .filterView {
    gap: 10px;
  }
  .filter .row .left .filterView .title {
    gap: 7px;
  }
  .filter .row .left .filterView img {
    width: 16px;
    height: 16px;
  }
  .filter .row .left .filterView span {
    font-size: 15px;
  }
  .filter .row .left .filterView::after {
    right: -10px;
    top: -5px;
    height: 34px;
  }
  .filter .row .left p {
    font-size: 13px;
  }
  .filter .row .right {
    font-size: 15px;
    gap: 12px;
  }
  .filter .row .right .show {
    gap: 7px;
  }
  .filter .row .right .show input {
    font-size: 15px;
    width: 40px;
    height: 37px;
  }
  .filter .row .right .shortBy #shortBy {
    height: 37px;
    width: 160px;
  }
  .filter .row .right .shortBy .shortByDropdown {
    width: 160px;
  }
  .banner {
    height: 180px;
  }
  .banner .row {
    gap: 30px;
  }
  .banner .row .details h3 {
    font-size: 28px;
  }
  .banner .row .details p {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .heroBreadcrumb {
    height: 250px;
  }
  .heroBreadcrumb .row .content {
    line-height: 33px;
  }
  .heroBreadcrumb .row .content h2 {
    font-size: 35px;
  }
  .heroBreadcrumb .row .content p {
    gap: 6px;
    font-size: 14px;
  }
  .filter {
    height: 70px;
  }
  .filter .row .left .filterView span {
    font-size: 14px;
  }
  .filter .row .left .filterView::after {
    display: none;
  }
  .filter .row .left p {
    display: none;
  }
  .filter .row .right {
    font-size: 14px;
  }
  .filter .row .right .show {
    display: none;
  }
  .filter .row .right .shortBy #shortBy {
    height: 32px;
    width: 151px;
  }
  .filter .row .right .shortBy .shortByDropdown {
    width: 151px;
  }
  .products .row .pagination {
    gap: 15px;
    margin: 60px 0 35px;
  }
  .products .row .pagination span {
    width: 40px;
    height: 40px;
  }
  .products .row .pagination span:last-child {
    width: 75px;
  }
  .banner {
    height: auto;
    padding: 12px 0;
  }
  .banner .row {
    gap: 15px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .banner .row .details h3 {
    font-size: 26px;
  }
}
@media (max-width: 425px) {
  .heroBreadcrumb {
    height: 180px;
  }
  .heroBreadcrumb .row .content {
    line-height: 30px;
  }
  .heroBreadcrumb .row .content h2 {
    font-size: 30px;
  }
  .heroBreadcrumb .row .content p {
    font-size: 12px;
  }
  .filter .row .left .filterView .title ~ img {
    display: none;
  }
  .banner .row {
    gap: 12px;
  }
  .banner .row .details h3 {
    font-size: 22px;
  }
  .banner .row .details p {
    font-size: 14px;
  }
}
@media (max-width: 375px) {
  .filter {
    height: 50px;
  }
  .filter .row .left .filterView span {
    display: none;
  }
  .filter .row .left .filterView .title ~ img {
    display: none;
  }
  .filter .row .right {
    font-size: 12px;
  }
  .filter .row .right .shortBy {
    gap: 5px;
  }
  .filter .row .right .shortBy #shortBy {
    height: 30px;
    width: 132px;
  }
  .filter .row .right .shortBy .shortByDropdown {
    width: 132px;
  }
}
@media (max-width: 320px) {
  .heroBreadcrumb {
    height: 140px;
  }
  .heroBreadcrumb .row .content {
    line-height: 25px;
  }
  .heroBreadcrumb .row .content .logo img {
    width: 66px;
    height: 66px;
  }
  .heroBreadcrumb .row .content h2 {
    font-size: 26px;
    margin-top: -12px;
  }
  .heroBreadcrumb .row .content p {
    font-size: 12px;
  }
  .products .row .pagination {
    gap: 10px;
    margin: 45px 0 25px;
  }
  .products .row .pagination span {
    width: 35px;
    height: 35px;
    font-size: 13px;
  }
  .products .row .pagination span:last-child {
    width: 70px;
  }
  .banner .row {
    gap: 10px;
  }
  .banner .row .details h3 {
    font-size: 18px;
  }
  .banner .row .details p {
    font-size: 12px;
  }
}
.cart {
  margin: 40px 0;
}
.cart .row {
  gap: 25px;
  justify-content: space-between;
}
.cart .row .cartDetails {
  width: 70%;
}
.cart .row .cartDetails .title {
  background: #fff9e5;
  padding: 0 43px 0 107px;
  align-items: center;
  height: 55px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}
.cart .row .cartDetails .title h3 {
  font-weight: 500;
  text-align: end;
}
.cart .row .cartDetails .cartProducts .cartList .cartItem {
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  align-items: center;
  gap: 20px;
}
.cart .row .cartDetails .cartProducts .cartList .cartItem .productImg {
  width: 106px;
  height: 106px;
  background: #fbebb5;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart .row .cartDetails .cartProducts .cartList .cartItem .productImg img {
  max-width: 100%;
}
.cart .row .cartDetails .cartProducts .cartList .cartItem h4 {
  color: #9f9f9f;
  font-weight: 400;
}
.cart .row .cartDetails .cartProducts .cartList .cartItem .price {
  color: #9f9f9f;
}
.cart .row .cartDetails .cartProducts .cartList .cartItem .quantity {
  border: 1px solid #9f9f9f;
  text-align: center;
  border-radius: 5px;
  outline: none;
  width: 32px;
  height: 32px;
}
.cart .row .cartDetails .cartProducts .cartList .cartItem .delete {
  width: 28px;
  height: 28px;
  cursor: pointer;
}
.cart .row .cartTotals {
  background: #fff9e5;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 30%;
  height: 390px;
}
.cart .row .cartTotals h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 50px;
  margin-top: 20px;
}
.cart .row .cartTotals .totalPrices {
  display: flex;
  margin-bottom: 35px;
  gap: 40px;
}
.cart .row .cartTotals .totalPrices h3 {
  font-weight: 500;
}
.cart .row .cartTotals .totalPrices:nth-of-type(1) span {
  color: #9f9f9f;
}
.cart .row .cartTotals .totalPrices:nth-of-type(2) span {
  color: #b88e2f;
}
.cart .row .cartTotals a {
  border: 1px solid #000;
  font-size: 20px;
  border-radius: 15px;
  width: 222px;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .cart .row {
    gap: 20px;
  }
  .cart .row .cartDetails {
    width: 65%;
  }
  .cart .row .cartDetails .title {
    padding: 0 43px 0 107px;
    height: 52px;
  }
  .cart .row .cartDetails .title h3 {
    font-size: 16px;
  }
  .cart .row .cartDetails .cartProducts .cartList .cartItem .productImg {
    width: 90px;
    height: 90px;
  }
  .cart .row .cartDetails .cartProducts .cartList .cartItem .quantity {
    width: 28px;
    height: 28px;
  }
  .cart .row .cartDetails .cartProducts .cartList .cartItem .delete {
    width: 26px;
    height: 26px;
  }
  .cart .row .cartTotals {
    height: 280px;
  }
  .cart .row .cartTotals h2 {
    font-size: 26px;
    margin-bottom: 40px;
  }
  .cart .row .cartTotals .totalPrices {
    margin-bottom: 20px;
  }
  .cart .row .cartTotals .totalPrices h3 {
    font-size: 16px;
  }
  .cart .row .cartTotals a {
    font-size: 16px;
    width: 140px;
    height: 45px;
  }
}
@media (max-width: 768px) {
  .cart .row {
    flex-direction: column;
  }
  .cart .row .cartDetails {
    width: 100%;
  }
  .cart .row .cartDetails .title {
    padding: 0 56px 0 96px;
    height: 45px;
  }
  .cart .row .cartDetails .title h3 {
    font-size: 15px;
  }
  .cart .row .cartDetails .cartProducts .cartList .cartItem {
    gap: 10px;
  }
  .cart .row .cartDetails .cartProducts .cartList .cartItem .productImg {
    width: 70px;
    height: 70px;
  }
  .cart .row .cartDetails .cartProducts .cartList .cartItem h4,
  .cart .row .cartDetails .cartProducts .cartList .cartItem span {
    font-size: 14px;
  }
  .cart .row .cartDetails .cartProducts .cartList .cartItem .quantity {
    width: 24px;
    height: 24px;
    font-size: 14px;
  }
  .cart .row .cartDetails .cartProducts .cartList .cartItem .delete {
    width: 24x;
    height: 24px;
  }
  .cart .row .cartTotals {
    height: 200px;
    width: 100%;
  }
  .cart .row .cartTotals h2 {
    font-size: 22px;
    margin-bottom: 12px;
    margin-top: 10px;
  }
  .cart .row .cartTotals .totalPrices {
    margin-bottom: 13px;
  }
  .cart .row .cartTotals a {
    font-size: 14px;
    width: 120px;
    height: 40px;
  }
}
@media (max-width: 425px) {
  .cart .row .cartDetails .title {
    height: 40px;
    gap: 10px;
  }
  .cart .row .cartDetails .title h3 {
    font-size: 12px;
  }
  .cart .row .cartDetails .cartProducts .cartList .cartItem .productImg {
    width: 55px;
    height: 55px;
  }
  .cart .row .cartDetails .cartProducts .cartList .cartItem h4,
  .cart .row .cartDetails .cartProducts .cartList .cartItem span {
    font-size: 13px;
  }
  .cart .row .cartDetails .cartProducts .cartList .cartItem .quantity {
    width: 22px;
    height: 22px;
    font-size: 13px;
  }
  .cart .row .cartDetails .cartProducts .cartList .cartItem .delete {
    width: 22px;
    height: 22px;
  }
  .cart .row .cartTotals {
    height: 178px;
  }
  .cart .row .cartTotals h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .cart .row .cartTotals .totalPrices {
    margin-bottom: 6px;
  }
  .cart .row .cartTotals .totalPrices h3 {
    font-size: 14px;
  }
  .cart .row .cartTotals a {
    margin-top: 8px;
    font-size: 13px;
    width: 90px;
    height: 35px;
  }
}
@media (max-width: 375px) {
  .cart .row .cartDetails .title {
    height: 35px;
    grid-template-columns: 2fr 1fr;
    gap: 0;
    padding: 0;
  }
  .cart .row .cartDetails .title h3 {
    text-align: center;
  }
  .cart .row .cartDetails .title h3:nth-child(2),
  .cart .row .cartDetails .title h3:nth-child(3) {
    display: none;
  }
}
@media (max-width: 320px) {
  .cart .row .cartDetails .title {
    height: 32px;
  }
  .cart .row .cartDetails .cartProducts .cartList .cartItem .productImg {
    width: 40px;
    height: 40px;
  }
  .cart .row .cartDetails .cartProducts .cartList .cartItem h4,
  .cart .row .cartDetails .cartProducts .cartList .cartItem span {
    font-size: 11px;
  }
  .cart .row .cartDetails .cartProducts .cartList .cartItem .quantity {
    font-size: 11px;
  }
  .cart .row .cartDetails .cartProducts .cartList .cartItem .delete {
    width: 20px;
    height: 20px;
  }
  .cart .row .cartTotals {
    height: 150px;
  }
  .cart .row .cartTotals h2 {
    font-size: 18px;
    margin-bottom: 8px;
  }
  .cart .row .cartTotals .totalPrices {
    margin-bottom: 5px;
  }
  .cart .row .cartTotals .totalPrices h3,
  .cart .row .cartTotals .totalPrices span {
    font-size: 13px;
  }
  .cart .row .cartTotals a {
    margin-top: 7px;
    font-size: 12px;
    width: 85px;
    height: 30px;
  }
}
.checkout {
  margin: 40px 0;
}
.checkout .container {
  width: 78%;
}
.checkout .container .formCheckout {
  display: flex;
  justify-content: space-between;
}
.checkout .container .formCheckout .left {
  width: 42%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.checkout .container .formCheckout .left h2 {
  font-size: 36px;
  font-weight: 600;
}
.checkout .container .formCheckout .left .row {
  gap: 20px;
}
.checkout .container .formCheckout .left .row .inputGroup {
  width: 50%;
}
.checkout .container .formCheckout .left .inputGroup {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.checkout .container .formCheckout .left input,
.checkout .container .formCheckout .left select,
.checkout .container .formCheckout .left textarea {
  border: 1px solid #9f9f9f;
  border-radius: 10px;
  height: 50px;
  resize: none;
  padding: 0 20px;
  outline: none;
}
.checkout .container .formCheckout .left textarea {
  padding: 13px 0 13px 20px;
}
.checkout .container .formCheckout .right {
  width: 50%;
}
.checkout .container .formCheckout .right .checkoutDetails {
  padding: 40px 0;
  border-bottom: 1px solid #d9d9d9;
}
.checkout .container .formCheckout .right .checkoutDetails .checkoutList {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.checkout .container .formCheckout .right .checkoutDetails .checkoutList .checkoutItem {
  display: flex;
  justify-content: space-between;
}
.checkout .container .formCheckout .right .checkoutDetails .checkoutList .checkoutItem h3 {
  font-size: 24px;
  font-weight: 500;
}
.checkout .container .formCheckout .right .checkoutDetails .checkoutList .checkoutItem .cartList {
  width: 100%;
}
.checkout .container .formCheckout .right .checkoutDetails .checkoutList .checkoutItem .cartList .cartItem {
  display: flex;
  justify-content: space-between;
}
.checkout .container .formCheckout .right .checkoutDetails .checkoutList .checkoutItem .cartList .cartItem .cartDetail {
  display: flex;
  align-items: center;
  gap: 10px;
}
.checkout .container .formCheckout .right .checkoutDetails .checkoutList .checkoutItem .cartList .cartItem .cartDetail h4 {
  color: #9f9f9f;
}
.checkout .container .formCheckout .right .checkoutDetails .checkoutList .checkoutItem .cartList .cartItem .cartDetail span {
  font-size: 12px;
  font-weight: 500;
}
.checkout .container .formCheckout .right .checkoutDetails .checkoutList .checkoutItem h4 {
  font-weight: 400;
}
.checkout .container .formCheckout .right .checkoutDetails .checkoutList .checkoutItem .total {
  font-size: 24px;
  font-weight: 700;
  color: #b88e2f;
}
.checkout .container .formCheckout .right .paymentDetails {
  padding: 40px 0;
}
.checkout .container .formCheckout .right .paymentDetails .paymentList {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.checkout .container .formCheckout .right .paymentDetails .paymentList .paymentItem label {
  font-weight: 500;
  color: #9f9f9f;
}
.checkout .container .formCheckout .right .paymentDetails .paymentList .paymentItem input[type=radio] {
  accent-color: #000;
  margin-right: 12px;
  cursor: pointer;
}
.checkout .container .formCheckout .right .paymentDetails .paymentList .paymentItem input:checked ~ label {
  color: #000;
}
.checkout .container .formCheckout .right .paymentDetails .paymentList .paymentItem p {
  margin-top: 10px;
  color: #9f9f9f;
  display: none;
}
.checkout .container .formCheckout .right .paymentDetails .paymentList .paymentItem input:checked ~ p {
  display: block;
}
.checkout .container .formCheckout .right .paymentDetails p {
  font-weight: 300;
  margin-top: 20px;
}
.checkout .container .formCheckout .right .paymentDetails p a {
  font-weight: 600;
  cursor: pointer;
}
.checkout .container .formCheckout .right .paymentDetails .submitBtn {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}
.checkout .container .formCheckout .right .paymentDetails .submitBtn button {
  font-size: 20px;
  border: 1px solid #000;
  border-radius: 15px;
  width: 220px;
  height: 60px;
  background: transparent;
  cursor: pointer;
}/*# sourceMappingURL=index.css.map */