@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins";
}

.container {
  width: 85%;
  margin: 0 auto;
}

.row {
  display: flex;
}

a {
  color: #000;
}

.active {
  display: block !important;
}

.activeFlex {
  display: flex !important;
}

.layout {
  width: 100%;
}

.header {
  background: #fbebb5;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.header .container .row {
  height: 100px;
  align-items: center;
}
.header .container .row .hamburger {
  display: none;
  background: none;
  border: none;
  position: relative;
  z-index: 99;
  cursor: pointer;
}
.header .container .row .hamburger span:nth-child(1),
.header .container .row .hamburger span:nth-child(2),
.header .container .row .hamburger span:nth-child(3) {
  width: 28px;
  height: 3px;
  border-radius: 15px;
  background-color: #000;
  position: absolute;
  left: 0;
  transition: all 0.3s ease;
}
.header .container .row .hamburger span:nth-child(1) {
  top: -8px;
}
.header .container .row .hamburger span:nth-child(3) {
  top: 8px;
}
.header .container .row .opened span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.header .container .row .opened span:nth-child(2) {
  transform: translateX(-100px);
}
.header .container .row .opened span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
.header .container .row .navBar {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.header .container .row .navBar .navList {
  display: flex;
  gap: 50px;
  width: 65%;
  justify-content: center;
}
.header .container .row .navBar .userAreaList {
  display: flex;
  gap: 35px;
  align-items: center;
  justify-content: center;
}
.header .container .row .navBar .userAreaList .userAreaItem {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 28px;
  transition: 0.5s ease;
}
.header .container .row .navBar .userAreaList .userAreaItem img {
  max-width: 100%;
  display: flex;
  align-items: center;
  transition: 0.5s ease;
}
.header .container .row .navBar .userAreaList .userAreaItem #closeIcon {
  display: none;
  font-size: 23px;
  font-weight: 400;
  transition: 0.5s ease;
}
.header .container .row .navBar .searchBox {
  display: none;
  position: absolute;
  bottom: -62px;
  right: 0;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  width: 40%;
  padding: 20px;
  box-shadow: #ddd -3px 3px 8px;
  transition: 0.5s ease-in-out;
  z-index: 9;
}
.header .container .row .navBar .searchBox img {
  width: 20px;
}
.header .container .row .navBar .searchBox input {
  outline: none;
  border: none;
  background: transparent;
  width: 100%;
  margin-left: 10px;
}

@media (max-width: 850px) {
  .header .container .row .navBar {
    justify-content: space-between;
  }
  .header .container .row .navBar .navList {
    justify-content: flex-start;
    gap: 25px;
  }
  .header .container .row .navBar .userAreaList {
    gap: 25px;
  }
  .header .container .row .navBar .userAreaList .userAreaItem img {
    width: 24px;
  }
  .header .container .row .navBar .userAreaList .userAreaItem #closeIcon {
    font-size: 20px;
  }
}
@media (max-width: 650px) {
  .header .container {
    width: 90%;
  }
  .header .container .row {
    height: 60px;
    justify-content: space-between;
  }
  .header .container .row .hamburger {
    display: block;
  }
  .header .container .row .navBar {
    position: absolute;
    top: 0;
    left: -100%;
    padding-top: 120px;
    background: #fbebb5;
    flex-direction: column-reverse;
    gap: 15px;
    width: 250px;
    height: 100vh;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    transition: left 0.5s ease-in-out;
    z-index: 9;
    justify-content: flex-end;
  }
  .header .container .row .navBar .navList {
    flex-direction: column;
    gap: 12px;
  }
  .header .container .row .navBar .navList .navItem {
    padding-left: 15px;
  }
  .header .container .row .navBar .userAreaList {
    justify-content: center;
  }
  .header .container .row .navBar .userAreaList #searchBtn {
    display: none;
  }
  .header .container .row .navBar .searchBox {
    display: flex;
    bottom: inherit;
    right: inherit;
    top: 60px;
    left: 0;
    width: 100%;
    box-shadow: 0 0 0 0;
    padding: 10px 20px;
    border: none;
  }
  .header .container .row .open {
    left: 0;
  }
}
.footer .footerTop {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}
.footer .footerTop .address {
  width: 25%;
  display: flex;
  align-items: center;
}
.footer .footerTop .address a {
  color: #9f9f9f;
}
.footer .footerTop h3 {
  color: #9f9f9f;
  font-weight: 500;
  margin-bottom: 40px;
}
.footer .footerTop .links .linkList {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer .footerTop .help .helpList {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer .footerTop .newsletter {
  width: 30%;
}
.footer .footerTop .newsletter .newsletterForm {
  display: flex;
  gap: 15px;
}
.footer .footerTop .newsletter .newsletterForm input {
  border: none;
  outline: none;
  padding: 3px 0;
  width: 200px;
  border-bottom: 1px solid #000;
}
.footer .footerTop .newsletter .newsletterForm input::-moz-placeholder {
  color: #9f9f9f;
}
.footer .footerTop .newsletter .newsletterForm input::placeholder {
  color: #9f9f9f;
}
.footer .footerTop .newsletter .newsletterForm button {
  border: none;
  background-color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  width: 75px;
  cursor: pointer;
  position: relative;
}
.footer .footerTop .newsletter .newsletterForm button::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  transition: transform 0.4s ease-in-out;
  transform-origin: right;
}
.footer .footerTop .newsletter .newsletterForm button:hover::after {
  transform: scaleX(0);
  transform-origin: left;
}
.footer .footerTop .newsletter .newsletterForm button::after {
  height: 1px;
  bottom: 0;
  width: 100%;
}
.footer .footerBottom {
  border-top: 1px solid #d9d9d9;
  padding: 40px 0;
}

@media (max-width: 800px) {
  .footer .footerTop h3 {
    margin-bottom: 15px;
  }
  .footer .footerTop .links .linkList {
    gap: 5px;
  }
  .footer .footerTop .help .helpList {
    gap: 5px;
  }
  .footer .footerTop .newsletter .newsletterForm {
    flex-direction: column;
  }
}
@media (max-width: 700px) {
  .footer {
    font-size: 13px;
    text-align: center;
  }
  .footer .footerTop {
    flex-direction: column;
    padding: 20px 0;
  }
  .footer .footerTop .address {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .footer .footerTop h3 {
    margin-bottom: 5px;
  }
  .footer .footerTop .links {
    width: 100%;
    margin-top: 15px;
  }
  .footer .footerTop .links .linkList {
    gap: 2px;
  }
  .footer .footerTop .help {
    width: 100%;
    margin-top: 15px;
  }
  .footer .footerTop .help .helpList {
    gap: 2px;
  }
  .footer .footerTop .newsletter {
    margin-top: 15px;
    width: 100%;
  }
  .footer .footerTop .newsletter .newsletterForm {
    flex-direction: column;
    align-items: center;
  }
  .footer .footerTop .newsletter .newsletterForm input {
    width: 250px;
    text-align: center;
  }
  .footer .footerBottom {
    padding: 10px 0;
  }
}
.hero {
  background: #fbebb5;
  width: 100%;
}
.hero .row {
  align-items: center;
  height: 100vh;
  justify-content: center;
}
.hero .row .heroContent {
  max-width: 45%;
  padding-left: 90px;
}
.hero .row .heroContent h2 {
  font-size: 64px;
  font-weight: 500;
}
.hero .row .heroContent a {
  font-size: 24px;
  position: relative;
}
.hero .row .heroContent a::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  transition: transform 0.4s ease-in-out;
  transform-origin: right;
}
.hero .row .heroContent a:hover::after {
  transform: scaleX(0);
  transform-origin: left;
}
.hero .row .heroImg {
  max-width: 70%;
}
.hero .row .heroImg img {
  max-width: 100%;
  height: auto;
  display: block;
}

.categories {
  background: #faf4f4;
  padding: 50px 0;
}
.categories .row {
  justify-content: space-between;
}
.categories .row .singleItem .catImg {
  height: 300px;
  width: 500px;
}
.categories .row .singleItem .catImg img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}
.categories .row .singleItem .details {
  padding-left: 40px;
}
.categories .row .singleItem .details h3 {
  font-size: 36px;
  font-weight: 600;
}
.categories .row .singleItem .details a {
  font-weight: 500;
  font-size: 24px;
  position: relative;
}
.categories .row .singleItem .details a::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  transition: transform 0.4s ease-in-out;
  transform-origin: right;
}
.categories .row .singleItem .details a:hover::after {
  transform: scaleX(0);
  transform-origin: left;
}

.blog {
  text-align: center;
  margin: 40px 0;
}
.blog .row {
  flex-direction: column;
}
.blog .row .title {
  text-align: center;
}
.blog .row .title h3 {
  font-size: 36px;
}
.blog .row .title p {
  color: #9f9f9f;
}
.blog .row .content {
  display: flex;
  justify-content: center;
  margin: 40px 0;
  gap: 27px;
}
.blog .row .content .card {
  text-align: center;
}
.blog .row .content .card .cardImg img {
  width: 360px;
  height: 360px;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog .row .content .card p {
  font-size: 18px;
}
.blog .row .content .card a {
  font-weight: 600;
  text-transform: capitalize;
  position: relative;
}
.blog .row .content .card a::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  transition: transform 0.4s ease-in-out;
  transform-origin: right;
}
.blog .row .content .card a:hover::after {
  transform: scaleX(0);
  transform-origin: left;
}
.blog .row .content .card a::after {
  bottom: -6px;
}
.blog .row .content .card .date {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 12px;
}
.blog .row .content .card .date img {
  width: 18px;
}
.blog .row .content .card .date .passedTime {
  display: flex;
  align-items: center;
  gap: 5px;
}
.blog .row .content .card .date .publishDate {
  display: flex;
  align-items: center;
  gap: 5px;
}
.blog .row .path a {
  text-transform: capitalize;
  position: relative;
}
.blog .row .path a::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  transition: transform 0.4s ease-in-out;
  transform-origin: right;
}
.blog .row .path a:hover::after {
  transform: scaleX(0);
  transform-origin: left;
}

.social {
  background: url(../img/Group\ 43.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
  display: flex;
  align-items: center;
}
.social .row {
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.social .row .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.social .row .content h3 {
  font-size: 60px;
  font-weight: 700 !important;
}
.social .row .content p {
  font-size: 20px;
  margin-bottom: 30px;
}
.social .row .content a {
  background: #faf4f4;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.1019607843);
  text-transform: capitalize;
  padding: 10px 0;
  width: 200px;
  margin: 0 auto;
  border-radius: 22px;
  transition: transform 0.3s;
}
.social .row .content a:hover {
  transform: scale(1.1);
}

@media (max-width: 1304px) {
  .hero .row .heroContent {
    padding-left: 70px;
    width: 70%;
    max-width: 50%;
  }
  .hero .row .heroContent h2 {
    font-size: 45px;
  }
  .hero .row .heroContent a {
    font-size: 22px;
  }
  .hero .row .heroImg {
    width: 65%;
  }
  .categories .row {
    justify-content: center;
  }
  .categories .row .singleItem .catImg {
    height: 250px;
    width: 400px;
  }
  .categories .row .singleItem .details {
    padding-left: 20px;
  }
  .categories .row .singleItem .details h3 {
    font-size: 30px;
  }
  .categories .row .singleItem .details a {
    font-size: 20px;
  }
  .blog .content {
    flex-wrap: wrap;
  }
}
@media (max-width: 878px) {
  .blog .content .card {
    width: 100% !important;
  }
  .blog .content .card .cardImg img {
    width: 100% !important;
    height: auto !important;
  }
}
@media (max-width: 841px) {
  .hero .row {
    height: 75vh;
  }
  .hero .row .heroContent {
    padding-left: 50px;
    width: 85%;
  }
  .hero .row .heroContent h2 {
    font-size: 40px;
  }
  .hero .row .heroImg {
    width: 45%;
  }
  .categories .row .singleItem .catImg {
    height: 200px;
    width: 300px;
  }
  .categories .row .singleItem .details {
    padding-left: 5px;
  }
  .categories .row .singleItem .details h3 {
    font-size: 28px;
  }
  .categories .row .singleItem .details a {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .hero .row {
    height: 65vh;
  }
  .hero .row .heroContent {
    padding-left: 50px;
    width: 65%;
  }
  .hero .row .heroContent h2 {
    font-size: 30px;
  }
  .hero .row .heroContent a {
    font-size: 20px;
  }
  .hero .row .heroImg {
    max-width: 50%;
  }
  .categories .row .singleItem .catImg {
    height: 200px;
    width: 250px;
  }
  .categories .row .singleItem .details h3 {
    font-size: 25px;
  }
  .categories .row .singleItem .details a {
    font-size: 16px;
  }
}
@media (max-width: 535px) {
  .categories .row {
    flex-wrap: wrap;
  }
  .categories .row .singleItem .catImg {
    height: 250px;
    width: 400px;
  }
}
@media (max-width: 425px) {
  .hero .row {
    height: 35vh;
  }
  .hero .row .heroContent {
    padding-left: 10px;
  }
  .hero .row .heroContent h2 {
    font-size: 14px;
  }
  .hero .row .heroContent a {
    font-size: 10px;
  }
  .hero .row .heroContent a::after {
    bottom: -3px;
    height: 1px;
  }
  .hero .row .heroImg {
    max-width: 50%;
    height: 100%;
  }
  .categories .row .singleItem .catImg {
    height: 200px;
    width: 300px;
  }
  .categories .row .singleItem .details h3 {
    font-size: 20px;
  }
  .categories .row .singleItem .details a {
    font-size: 13px;
  }
  .categories .row .singleItem .details a::after {
    height: 1px;
    bottom: -2px;
  }
}
@media (max-width: 320px) {
  .categories .row .singleItem .catImg {
    height: 150px;
    width: 250px;
  }
}/*# sourceMappingURL=index.css.map */