.header {
  background: #fff;
  position: relative;
  user-select: none;
  .home & {
    background-color: #fbebb5;
  }
  .container {
    .row {
      height: 100px;
      align-items: center;
      .hamburger {
        display: none;
        background: none;
        border: none;
        position: relative;
        z-index: 99;
        cursor: pointer;

        span:nth-child(1),
        span:nth-child(2),
        span:nth-child(3) {
          width: 28px;
          height: 3px;
          border-radius: 15px;
          background-color: #000;
          position: absolute;
          left: 0;
          transition: all 0.3s ease;
        }

        span:nth-child(1) {
          top: -8px;
        }
        span:nth-child(3) {
          top: 8px;
        }
      }

      .opened {
        span:nth-child(1) {
          transform: translateY(8px) rotate(45deg);
        }
        span:nth-child(2) {
          transform: translateX(-100px);
        }
        span:nth-child(3) {
          transform: translateY(-8px) rotate(-45deg);
        }
      }

      .navBar {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        .navList {
          display: flex;
          gap: 50px;
          width: 65%;
          justify-content: center;
        }
        .userAreaList {
          display: flex;
          gap: 35px;
          align-items: center;
          justify-content: center;
          .userAreaItem {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            height: auto;
            width: 28px;
            transition: 0.5s ease;

            img {
              max-width: 100%;
              display: flex;
              align-items: center;
              transition: 0.5s ease;
            }
            #closeIcon {
              display: none;
              font-size: 23px;
              font-weight: 400;
              transition: 0.5s ease;
            }
          }
        }

        .searchBox {
          display: none;
          position: absolute;
          bottom: -45px;
          right: 7.6%;
          border-bottom: 1px solid #ddd;
          background-color: #fff;
          width: 40%;
          padding: 12px;
          box-shadow: #7a7a7abf 1px 1px 2px 0px;
          transition: 0.5s ease-in-out;
          z-index: 9;
          border-radius: 2px;
          img {
            width: 20px;
          }
          input {
            outline: none;
            border: none;
            background: transparent;
            width: 100%;
            margin-left: 10px;
          }
        }

        .cartBox {
          background: #fff;
          padding: 0 25px;
          position: absolute;
          top: 0;
          right: 0;
          width: 417px;
          height: 500px;
          box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
          transition: left 0.5s ease-in-out;
          z-index: 9;
          display: none;
          flex-direction: column;
          .title {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            h3 {
              padding: 25px 0;
              width: 80%;
              font-size: 24px;
              font-weight: 600;
              line-height: 36px;
              border-bottom: 1px solid #d9d9d9;
            }
            img {
              cursor: pointer;
              width: 16px;
              height: 19px;
            }
          }
          .cartContent {
            margin: 35px 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            .cartList {
              .cartItem {
                display: flex;
                align-items: center;
                gap: 23px;
                .productImg {
                  background: #fbebb5;
                  border-radius: 10px;
                  img {
                    max-width: 100%;
                    width: 100px;
                    height: 85px;
                  }
                }
                .info {
                  width: 55%;
                  .details {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    margin-top: 10px;
                    span {
                      font-size: 12px;
                    }
                    .price {
                      color: #b88e2f;
                    }
                  }
                }

                .removeBtn {
                  cursor: pointer;
                }
              }
            }
            .totalPrice {
              display: flex;
              align-items: center;
              h4 {
                width: 60%;
              }
              .total {
                font-weight: 600;
                color: #b88e2f;
              }
            }
          }
          .bottom {
            display: flex;
            gap: 40px;
            border-top: 1px solid #d9d9d9;
            padding: 20px 0;
            a {
              display: flex;
              align-items: center;
              justify-content: center;
              border: 1px solid #000;
              border-radius: 50px;
              font-size: 12px;
              width: 131px;
              height: 31px;
            }
          }

          .empty{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
            color: #000;
            font-size: 20px;
            font-weight: 600;
          }
        }
      }
    }
  }
}

@media (max-width: 850px) {
  .header {
    .container {
      .row {
        .navBar {
          justify-content: space-between;
          .navList {
            justify-content: flex-start;
            gap: 25px;
          }

          .userAreaList {
            gap: 25px;

            .userAreaItem {
              img {
                width: 24px;
              }

              #closeIcon {
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 650px) {
  .header {
    .container {
      width: 90%;
      .row {
        height: 60px;
        justify-content: space-between;

        .hamburger {
          display: block;
        }
        .navBar {
          position: absolute;
          top: 0;
          left: -100%;
          padding-top: 120px;
          background: #fbebb5;
          flex-direction: column-reverse;
          gap: 15px;
          width: 250px;
          height: 100vh;
          box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
          transition: left 0.5s ease-in-out;
          z-index: 9;
          justify-content: flex-end;
          .navList {
            flex-direction: column;
            gap: 12px;

            .navItem {
              padding-left: 15px;
            }
          }
          .userAreaList {
            justify-content: center;

            #searchBtn {
              display: none;
            }
          }

          .searchBox {
            display: flex;
            bottom: inherit;
            right: inherit;
            top: 60px;
            left: 0;
            width: 100%;
            box-shadow: 0 0 0 0;
            padding: 10px 20px;
            border: none;
          }
        }
        .open {
          left: 0;
        }
      }
    }
  }
}
