@import "../mixins";

.hero {
  background: #fbebb5;
  width: 100%;
  .row {
    align-items: center;
    height: 100vh;
    justify-content: center;
    .heroContent {
      max-width: 45%;
      padding-left: 90px;
      h2 {
        font-size: 64px;
        font-weight: 500;
      }
      a {
        font-size: 24px;
        @include primaryBtn;
      }
    }

    .heroImg {
      max-width: 70%;

      img {
        max-width: 100%;
        height: auto;
        display: block;
      }
    }
  }
}

.social {
  background: url(../img/Group\ 43.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
  display: flex;
  align-items: center;
  .row {
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      h3 {
        font-size: 60px;
        font-weight: 700 !important;
      }
      p {
        font-size: 20px;
        margin-bottom: 30px;
      }

      a {
        background-color: #fff;
        text-transform: capitalize;
        padding: 10px 0;
        width: 255px;
        margin: 0 auto;
        border-radius: 22px;
      }
    }
  }
}
