@import "../mixins";

.hero {
  background: #fbebb5;
  width: 100%;
  .row {
    align-items: center;
    height: 100vh;
    justify-content: center;
    .heroContent {
      max-width: 45%;
      padding-left: 90px;
      h2 {
        font-size: 64px;
        font-weight: 500;
      }
      a {
        font-size: 24px;
        @include primaryBtn;
      }
    }

    .heroImg {
      max-width: 70%;

      img {
        max-width: 100%;
        height: auto;
        display: block;
      }
    }
  }
}

.blog {
  text-align: center;
  margin: 40px 0;

  .row {
    flex-direction: column;
    .title {
      text-align: center;
      h3 {
        font-size: 36px;
      }
      p {
        color: #9f9f9f;
      }
    }
    .content {
      display: flex;
      margin: 40px 0;
      gap: 50px;
      .card {
        text-align: center;
        .cardImg {
          img {
            width: 360px;
            height: 360px;
            object-fit: cover;
          }
        }
        p {
          font-size: 18px;
        }
        a {
          font-weight: 600;
          text-transform: capitalize;
          @include primaryBtn;
          &::after {
            bottom: -6px;
          }
        }
        .date {
          margin-top: 20px;
          display: flex;
          justify-content: center;
          gap: 12px;
          img {
            width: 18px;
          }
          .passedTime {
            display: flex;
            align-items: center;
            gap: 5px;
          }

          .publishDate {
            display: flex;
            align-items: center;
            gap: 5px;
          }
        }
      }
    }
    .path {
      a {
        text-transform: capitalize;
        @include primaryBtn;
        &::after {
          bottom: -10px;
        }
      }
    }
  }
}

.social {
  background: url(../img/Group\ 43.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
  display: flex;
  align-items: center;
  .row {
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      h3 {
        font-size: 60px;
        font-weight: 700 !important;
      }
      p {
        font-size: 20px;
        margin-bottom: 30px;
      }

      a {
        background-color: #fff;
        text-transform: capitalize;
        padding: 10px 0;
        width: 255px;
        margin: 0 auto;
        border-radius: 22px;
      }
    }
  }
}
