@import "../mixins";

.hero {
  background: #fbebb5;
  width: 100%;
  .row {
    align-items: center;
    height: 100vh;
    justify-content: center;
    .heroContent {
      max-width: 45%;
      padding-left: 90px;
      h2 {
        font-size: 64px;
        font-weight: 500;
      }
      a {
        font-size: 24px;
        @include primaryBtn;
      }
    }

    .heroImg {
      max-width: 70%;

      img {
        max-width: 100%;
        height: auto;
        display: block;
      }
    }
  }
}

.categories {
  background: #faf4f4;
  padding: 50px 0;
  .row {
    justify-content: space-between;
    .singleItem {
      .catImg {
        height: 300px;
        width: 500px;
        img {
          object-fit: cover;
          max-width: 100%;
        }
      }
      .details {
        padding-left: 40px;
        h3 {
          font-size: 36px;
          font-weight: 600;
        }

        a {
          font-weight: 500;
          font-size: 24px;
          @include primaryBtn;
        }
      }
    }
  }
}

.topPicks {
  .row {
    flex-direction: column;
    align-items: center;
    margin: 40px 0;

    .content {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      margin: 40px 0;

      .card {
        .cardImg {
          width: 287px;
          height: 287px;
          img {
            max-width: 100%;
          }
        }
        .details {
          .price {
            font-size: 20px;
            font-weight: 600;
          }
        }
      }
    }
  }
}

.blog {
  text-align: center;
  margin: 40px 0;

  .row {
    flex-direction: column;

    .content {
      display: flex;
      justify-content: center;
      margin: 40px 0;
      gap: 27px;
      .card {
        text-align: center;
        .cardImg {
          img {
            width: 360px;
            height: 360px;
            object-fit: cover;
          }
        }
        p {
          font-size: 18px;
        }
        a {
          font-weight: 600;
          text-transform: capitalize;
          @include primaryBtn;
          &::after {
            bottom: -6px;
          }
        }
        .date {
          margin-top: 20px;
          display: flex;
          justify-content: center;
          gap: 12px;
          img {
            width: 18px;
          }
          .passedTime {
            display: flex;
            align-items: center;
            gap: 5px;
          }

          .publishDate {
            display: flex;
            align-items: center;
            gap: 5px;
          }
        }
      }
    }
  }
}

.social {
  position: relative;
  width: 100%;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  .bgImg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .row {
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-self: flex-end;
    height: 100%;
    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h3 {
        font-size: 60px;
        font-weight: 700 !important;
      }
      p {
        font-size: 20px;
        margin-bottom: 30px;
      }

      a {
        background: #faf4f4;
        box-shadow: 0px 20px 20px 0px #0000001a;
        text-transform: capitalize;
        padding: 10px 0;
        width: 200px;
        margin: 0 auto;
        border-radius: 22px;
        transition: transform 0.3s;
        user-select: none;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

@media (max-width: 1304px) {
  .hero {
    .row {
      .heroContent {
        padding-left: 70px;
        width: 70%;
        max-width: 50%;
        h2 {
          font-size: 45px;
        }
        a {
          font-size: 22px;
        }
      }
      .heroImg {
        width: 65%;
      }
    }
  }

  .categories {
    .row {
      justify-content: center;
      .singleItem {
        .catImg {
          height: 250px;
          width: 400px;
        }

        .details {
          padding-left: 20px;
          h3 {
            font-size: 30px;
          }

          a {
            font-size: 20px;
          }
        }
      }
    }
  }

  .blog {
    .content {
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 1200px) {
  .social {
    height: 400px;
  }
}
@media (max-width: 980px) {
  .social {
    height: 300px;
    .row {
      .content {
        h3 {
          font-size: 50px;
        }
        p {
          font-size: 18px;
        }
        a {
          width: 180px;
        }
      }
    }
  }
}
@media (max-width: 878px) {
  .blog {
    .content {
      .card {
        width: 100% !important;

        .cardImg {
          img {
            width: 100% !important;
            height: auto !important;
          }
        }
      }
    }
  }
}

@media (max-width: 841px) {
  .hero {
    .row {
      height: 75vh;
      .heroContent {
        padding-left: 50px;
        width: 85%;
        h2 {
          font-size: 40px;
        }
      }
      .heroImg {
        width: 45%;
      }
    }
  }

  .categories {
    .row {
      .singleItem {
        .catImg {
          height: 200px;
          width: 300px;
        }

        .details {
          padding-left: 5px;
          h3 {
            font-size: 28px;
          }

          a {
            font-size: 18px;
          }
        }
      }
    }
  }

  .social {
    height: 250px;
    .row {
      .content {
        h3 {
          font-size: 40px;
        }
        p {
          font-size: 16px;
        }
        a {
          width: 160px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .hero {
    .row {
      height: 65vh;
      .heroContent {
        padding-left: 50px;
        width: 65%;

        h2 {
          font-size: 30px;
        }

        a {
          font-size: 20px;
        }
      }

      .heroImg {
        max-width: 50%;
      }
    }
  }

  .categories {
    .row {
      .singleItem {
        .catImg {
          height: 200px;
          width: 250px;
        }

        .details {
          h3 {
            font-size: 25px;
          }

          a {
            font-size: 16px;
          }
        }
      }
    }
  }

  .social {
    height: 180px;
    .row {
      .content {
        h3 {
          font-size: 25px;
        }
        p {
          font-size: 14px;
          margin-bottom: 10px;
        }
        a {
          width: 120px;
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 535px) {
  .categories {
    .row {
      flex-wrap: wrap;
      .singleItem {
        .catImg {
          height: 250px;
          width: 400px;
        }
      }
    }
  }

  .social {
    height: 140px;
    .row {
      .content {
        h3 {
          font-size: 22px;
        }
        p {
          font-size: 14px;
          margin-bottom: 10px;
        }
        a {
          width: 120px;
          padding: 5px 0;
        }
      }
    }
  }
}

@media (max-width: 425px) {
  .hero {
    .row {
      height: 35vh;
      .heroContent {
        padding-left: 10px;

        h2 {
          font-size: 14px;
        }

        a {
          font-size: 10px;
          &::after {
            bottom: -3px;
            height: 1px;
          }
        }
      }

      .heroImg {
        max-width: 50%;
        height: 100%;
      }
    }
  }

  .categories {
    .row {
      .singleItem {
        .catImg {
          height: 200px;
          width: 300px;
        }

        .details {
          h3 {
            font-size: 20px;
          }

          a {
            font-size: 13px;
            &::after {
              height: 1px;
              bottom: -2px;
            }
          }
        }
      }
    }
  }

  .social {
    height: 120px;
  }
}

@media (max-width: 320px) {
  .categories {
    .row {
      .singleItem {
        .catImg {
          height: 150px;
          width: 250px;
        }
      }
    }
  }

  .social {
    height: 100px;
    .row {
      .content {
        h3 {
          font-size: 18px;
        }
        p {
          font-size: 12px;
          margin-bottom: 8px;
        }
        a {
          width: 100px;
          font-size: 12px;
        }
      }
    }
  }
}
