.wishlist {
  margin: 40px 0;
  .row {
    gap: 25px;
    justify-content: space-between;
    .wishlistDetails {
      width: 100%;
      .title {
        width: 100%;
        background: #fff9e5;
        padding: 0 43px 0 107px;
        align-items: center;
        height: 55px;
        display: flex;
        justify-content: space-around;
        h3 {
          font-weight: 500;
          text-align: end;
        }
      }
      .wishlistProducts {
        .wishlistList {
          .wishlistItem {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            // gap: 20px;
            color: rgb(35, 95, 33);
            .productImg {
              width: 106px;
              height: 106px;
              background: #fbebb5;
              border-radius: 10px;
              display: flex;
              align-items: center;
              justify-content: center;
              img {
                max-width: 100%;
              }
            }
            h4 {
              color: #9f9f9f;
              font-weight: 400;
            }
            .price {
              color: #9f9f9f;
            }
            .rating {
              display: flex;
              gap: 8px;
              color: #ffda5b;
            }
            .delete {
              width: 28px;
              height: 28px;
              cursor: pointer;
            }
          }
        }
      }

      .emptyBox {
        width: 100%;
        height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
        p {
          font-size: 24px;
          font-weight: 600;
          letter-spacing: 1px;
        }
      }
    }

    .wishlistTotals {
      background: #fff9e5;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 30%;
      height: 300px;

      h2 {
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 50px;
        margin-top: 20px;
      }

      .totalPrices {
        display: flex;
        align-items: center;
        margin-bottom: 35px;
        gap: 40px;
        h3 {
          font-weight: 500;
        }

        span {
          color: #b88e2f;
        }
      }
      a {
        border: 1px solid #000;
        font-size: 20px;
        border-radius: 15px;
        width: 222px;
        height: 58px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@media (max-width: 1024px) {
  .wishlist {
    .row {
      gap: 20px;
      .wishlistDetails {
        width: 65%;
        .title {
          padding: 0 43px 0 107px;
          height: 52px;

          h3 {
            font-size: 16px;
          }
        }
        .wishlistProducts {
          .wishlistList {
            .wishlistItem {
              .productImg {
                width: 90px;
                height: 90px;
              }
              .quantity {
                width: 28px;
                height: 28px;
              }
              .delete {
                width: 26px;
                height: 26px;
              }
            }
          }
        }
      }

      .wishlistTotals {
        height: 280px;

        h2 {
          font-size: 26px;
          margin-bottom: 40px;
        }

        .totalPrices {
          margin-bottom: 20px;
          h3 {
            font-size: 16px;
          }
        }
        a {
          font-size: 16px;
          width: 140px;
          height: 45px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .wishlist {
    .row {
      flex-direction: column;
      .wishlistDetails {
        width: 100%;
        .title {
          padding: 0 56px 0 96px;
          height: 45px;

          h3 {
            font-size: 15px;
          }
        }
        .wishlistProducts {
          .wishlistList {
            .wishlistItem {
              gap: 10px;
              .productImg {
                width: 70px;
                height: 70px;
              }
              h4,
              span {
                font-size: 14px;
              }
              .quantity {
                width: 24px;
                height: 24px;
                font-size: 14px;
              }
              .delete {
                width: 24x;
                height: 24px;
              }
            }
          }
        }
      }

      .wishlistTotals {
        height: 200px;
        width: 100%;
        h2 {
          font-size: 22px;
          margin-bottom: 12px;
          margin-top: 10px;
        }

        .totalPrices {
          margin-bottom: 13px;
        }
        a {
          font-size: 14px;
          width: 120px;
          height: 40px;
        }
      }
    }
  }
}

@media (max-width: 425px) {
  .wishlist {
    .row {
      .wishlistDetails {
        .title {
          height: 40px;
          gap: 10px;
          h3 {
            font-size: 12px;
          }
        }
        .wishlistProducts {
          .wishlistList {
            .wishlistItem {
              .productImg {
                width: 55px;
                height: 55px;
              }
              h4,
              span {
                font-size: 13px;
              }
              .quantity {
                width: 22px;
                height: 22px;
                font-size: 13px;
              }
              .delete {
                width: 22px;
                height: 22px;
              }
            }
          }
        }
      }

      .wishlistTotals {
        height: 178px;
        h2 {
          font-size: 20px;
          margin-bottom: 10px;
        }

        .totalPrices {
          margin-bottom: 6px;
          h3 {
            font-size: 14px;
          }
        }
        a {
          margin-top: 8px;
          font-size: 13px;
          width: 90px;
          height: 35px;
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .wishlist {
    .row {
      .wishlistDetails {
        .title {
          height: 35px;
          grid-template-columns: 2fr 1fr;
          gap: 0;
          padding: 0;
          h3 {
            text-align: center;
          }
          h3:nth-child(2),
          h3:nth-child(3) {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 320px) {
  .wishlist {
    .row {
      .wishlistDetails {
        .title {
          height: 32px;
        }

        .wishlistProducts {
          .wishlistList {
            .wishlistItem {
              .productImg {
                width: 40px;
                height: 40px;
              }
              h4,
              span {
                font-size: 11px;
              }
              .quantity {
                font-size: 11px;
              }
              .delete {
                width: 20px;
                height: 20px;
              }
            }
          }
        }
      }

      .wishlistTotals {
        height: 150px;
        h2 {
          font-size: 18px;
          margin-bottom: 8px;
        }

        .totalPrices {
          margin-bottom: 5px;
          h3,
          span {
            font-size: 13px;
          }
        }
        a {
          margin-top: 7px;
          font-size: 12px;
          width: 85px;
          height: 30px;
        }
      }
    }
  }
}
